# Environment variables
.env

# OpenVPN data directories
openvpn_data/
prometheus_data/
grafana_data/
backups/
secrets/

# Docker logs and temp files
.history/
*.log
*.pid
*.sock

# OS and IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
